@mixin style-link($color)
    text-transform: uppercase
    text-decoration: none
    display: inline-block
    color: $color

@mixin clearfix
    &::after
        content: ""
        display: table
        clear: both

@mixin padding-left-right-10rem 
    padding-left: 10rem
    padding-right: 10rem